<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<security>
		  <requestFiltering>
			  <verbs allowUnlisted="false">
				  <add verb="GET" allowed="true" />
				  <add verb="POST" allowed="true" />
				  <add verb="DELETE" allowed="true" />
				  <add verb="PUT" allowed="true" />
			  </verbs>
		  </requestFiltering>
		</security>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
			<remove name="WebDAV" />
            <remove name="SSINC-html" />
            <remove name="PHP-phtml" />
            <remove name="PHP-php3" />
            <remove name="PHP-php" />
            <add name="PHP-php" path="*.php" verb="GET,HEAD,POST,DELETE,PUT" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP56\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="PHP-php3" path="*.php3" verb="GET,HEAD,POST,DELETE,PUT" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP56\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="PHP-phtml" path="*.phtml" verb="GET,HEAD,POST,DELETE,PUT" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP56\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="SSINC-html" path="*.html" verb="GET,HEAD,POST,DELETE,PUT" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
